# https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#using-the-sanity-cli
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN=
NODE_ENV=development
GA=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_ENABLE_GA4=true
NEXT_PUBLIC_ENABLE_GTM=false
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_ENABLE_SPEED_INSIGHTS=false
