{
  "extends": [
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended" // Agrega soporte para Tailwind CSS
  ],
  "plugins": ["tailwindcss"], // Asegúrate de incluir el plugin de Tailwind
  "root": true,
  "rules": {
    "tailwindcss/classnames-order": "warn", // Ordena las clases de Tailwind
    "tailwindcss/no-custom-classname": "off" // Desactiva la regla que prohíbe nombres de clase personalizados
  }
}
