# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/studio/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# sanity
/.sanity/
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Env files created by scripts for working locally
.env*

/app/(web)/layout_original.tsx
/app/(web)/posts
/app/(web)/actions.ts
/components/global/Navbar/others
/public/icons-bank
/public/videos
/components/shared/Faq.tsx
/components/shared/empty
/components/Banner.tsx
/components/global/Navbar/DeskNav/SubsectionsFullWidth1.tsx
/components/shared/Card/BasicImageCard
/cli
/components/pages/component/Banner1Factored
/componentes
.vscode