@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.image-bg-ssr img {
  transform-origin: center;
  will-change: transform, opacity; /* Mejora el rendimiento */
}
.image-bg-ssr {
  overflow: visible; /* Evita que el escalado se corte */
}

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @media (max-width: 640px) {
    .text-balance {
      text-wrap: initial;
    }
  }
}

@layer components {
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    will-change: opacity, clip-path;
  }
  .layer1 {
    clip-path: polygon(100% 80%, 0% 100.1%, 100% 100.1%); /* Triángulo */
  }
  .layer2 {
    clip-path: polygon(0% 80%, 100% 80%, 100% 100%, 0% 100%); /* Triángulo */
  }

  .layer3 {
    clip-path: polygon(0% 70%, 100% 80%, 100% 100%, 0% 100%); /* Triángulo */
  }

  /* DRAWER MENU */
  .nav-container {
    @apply h-8 cursor-pointer items-center justify-start font-robotoslab text-gray-100 transition-all duration-300 hover:bg-gray-900 hover:text-lg hover:font-medium hover:text-white;
  }

  .nav-container-active {
    @apply items-center justify-start text-lg text-white transition-all duration-300;

  }

  /* CAROUSEL MAIN */
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  /* CAROUSEL POST */
  .embla_post {
    --slide-size: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    --slide-height: 50rem;
    --slide-spacing: 0rem;
  }

  @media (min-width: 500px) {
    .embla_post {
      --slide-size: 70%;
    }
  }
  @media (min-width: 650px) {
    .embla_post {
      --slide-size: 60%;
    }
  }

  @media (min-width: 750px) {
    .embla_post {
      --slide-size: 48%;
    }
  }

  @media (min-width: 850px) {
    .embla_post {
      --slide-size: 38%;
    }
  }

  @media (min-width: 1024px) {
    .embla_post {
      --slide-size: 32%;
    }
  }
  /* CAROUSEL HERO*/
  .active-slide {
    transform: scale(1.05);
    transition: transform 7s ease-in-out, opacity 7s ease-in-out;
    opacity: 1;
  }
  .embla_hero {
    max-width: 100%;
    margin: 0;
    --slide-height: 50rem;
    --slide-spacing: 0rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }


.force-relative {
  position: relative !important;
}

.contact-drawer {
  will-change: transform, opacity;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contact-drawer.open {
  transform: translate3d(0, 0, 0);
}

.mobile-nav-drawer {
  will-change: transform, opacity;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.mobile-nav-drawer.open {
  transform: translate3d(0, 0, 0);
}

/* PortableTextAndToc Styles */
.h2 {
  @apply font-robotoslab text-4xl font-semibold text-slate-700  md:text-5xl;
}

.p2 {
  @apply font-crimson font-light text-slate-700 lg:text-lg;
}

.h3 {
  @apply font-robotoslab text-xl font-semibold text-slate-700 lg:text-2xl;
}

.p3 {
  @apply text-justify text-sm font-robotoslab lg:text-base font-normal text-slate-700;
}
}